html, body {
  margin: 0;
  background: url("projectsheader.jpg") no-repeat center center;
  background-size: cover;
  height: 400px;
}


/*menubar, modified from i101 homepage*/
.menubar {
	left: 0px;
	top: 00px;
	width: 100%;
	height: 40px;
	position: absolute;
	color: #fff;
	background-color: #333333;
	font-family: Geneva, sans-serif;
	padding-right: 7px;
	padding-left: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
}


/*from i101 homepage*/
table.tablecenter {
    margin-left: auto; 
    margin-right: auto;
}

.buttonattempt1 {
  color: #fff;
  font-size: 18px;
  padding: 4px 5px;
  text-decoration: none;
  display: inline-block;
}

.invisible {
  padding-left: 60px;
  padding-right: 60px;
}




h1, h2, .i3, .i3right, a {
  font-family: 'Oswald', serif;
  text-transform: uppercase;
}

p, ul {
  font-family: Helvetikca, Arial, sans-serif; 
}


.supporting {
  position: relative;
  top: 350px;
  background-color: #1c1c1c;
  padding: 10px 0 10px;
}

.supporting h2 {
  color: #ffa800;
  font-size: 20px;
  margin-bottom: 0px;
}

.clearfix {
  clear: both;
}

.supporting p {
  color: #efefef;
  font-size: 11px;
  line-height: 20px;
  margin-bottom: 20px;
}

.supporting strong {
  font-size: 14px;
}

.col1 {
  float: left;
  position: relative;
  text-align: right;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 32%;
}

.col1 p {
  float: right;
  text-align: center;
}

.col2 {
  float: left;
  position: relative;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  width: 32%
}

.col2 p {
  margin-left: auto;
  margin-right: auto;
}

.col3 {
  float: left;
  position: relative;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 32%;
}

.col3 p {
  float: left;
  text-align: center;
}

img {
  border: 1px solid #efefef;
}



a.btn:hover {
  background:#ffa800;
  color:#000;
}






/* Footer */
.footer {
  background: url("5s.jpg") no-repeat center center;
  background-size: cover;
  height: 534px;
  text-align: center;
  padding-top: 300px;
}

.footer .container {
  position: relative;
  top: 220px;
}

.footer h2 {
  color: #fff;
  font-size: 40px;
  margin: 0 0 20px 0;
  padding:220px 0 0;
}

.footer .btn {
  background-color: #1c1c1c;
  color: #fff;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

.footer .actualfooter {
  position: relative;
  font-family: 'Oswald', serif;
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
  color: #eee;
}

.footer p {
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
  padding-right: 4px;
}